/* Custom CSS */
body {
  background-color: #ffffff;
  font-family: 'Karla', sans-serif;
}

.login-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logo-section {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 1rem;

  @media (max-width: 1008px) {
    margin-bottom: 0;
    padding-left: 0;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;

    img {
      border-radius: 60%;
      height: 100%;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 3rem;
      height: 5rem;
      width: 5rem;
      margin-left: 2rem;
    }
  }
}

.form-section {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  padding-top: 10rem;

  @media (max-width: 1200px) {
    margin-right: 4rem;
  }

  .welcome-text {
    text-align: center;
    font-size: 3rem;
    margin-right: 5rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-top: 1.2rem;
  padding-bottom: 2.4rem;
  width: 100%;
  margin-right: 5rem;

  input {
    padding: 10px;
    margin: 7px 0px;
    border: 1px solid #cacaca;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    &:focus {
      border-bottom-width: 2px;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.label-text {
  font-size: 1.6rem;
}

.login-button {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #4b5563;
  border-radius: 0.25rem;

  &:hover {
    background-color: #000000;
  }
}

.rememberMe {
  label {
    margin-left: 4px;
  }
}

.register-link {
  text-decoration: underline;
  font-weight: 600;
}

.image-section {
  width: 50%;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    display: none;
  }
  .background-image {
    width: 130%;
    height: 100vh;
  }
}
