.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .about-us {
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
  }

  .about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    width: 540px;
    text-align: center;
  }
  .text h1 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data {
    margin-top: 30px;
  }
  .hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .hire:hover {
    background: #000;
    border: 1px solid #4070f4;
  }
}

.aboutUsImg {
  width: 200px; /* Adjust the width to your desired size */
  height: auto;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}
