.resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    z-index: 1;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }
  .resetInputs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0.8rem;
    padding-right: 4rem;
  }
  .resetPasswordButton {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    margin-top: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #4b5563;
    border-radius: 0.25rem;
    &:hover {
      background-color: #000000;
    }
  }

  input {
    padding: 10px;
    margin: 7px 0px;
    border: 1px solid #cacaca;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    &:focus {
      border-bottom-width: 2px;
    }
  }

  .formLink {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
    p {
      color: #000000;
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logo-container {
  height: 10rem;
  width: 10rem;
  img {
    border-radius: 60%;
    height: 100%;
    width: 100%;
  }
}
