.navbar {
  background-color: #010348;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .navbar__container {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    &-img {
      height: 80px;
      width: 80px;
      margin-right: 0.75rem;
      border-radius: 50%;
    }

    &-text {
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    .logOutButton {
      background-color: #0171d3;
      border-radius: 5px;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #00527a;
        color: #fff;
      }
    }
  }

  .search {
    height: 60px;
    width: 230px;
    display: flex;

    @media (max-width: 1200px) {
      text-align: center;
      margin-left: 3rem;
    }

    input {
      padding: 10px;
      margin: 7px 0px;
      border: 1px solid #cacaca;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      &:focus {
        border-bottom-width: 2px;
      }
    }
  }

  .items-list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .items-list__container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .items-list__container li {
      margin: 0 1rem;
    }
    .items-list__container a {
      color: #fff;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 600;
      margin-right: 1rem;
      transition: 0.5s;

      &:hover {
        color: #a0aec0;
      }
    }
  }
}

.mobileButton {
  display: none;
  @media (max-width: 768px) {
    padding-top: 5rem;
    background-color: #0171d3;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:hover {
      background-color: #00527a;
      color: #fff;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 1rem;
      transition: 0.5s;

      &:hover {
        color: #a0aec0;
      }
    }
  }
}
