.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.content {
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #555;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
}

.link {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #555;
}
