.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #4070f4;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #232836;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    color: #232836;
    text-align: center;
  }
  .link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    &:hover {
      color: #232836;
    }
  }
}
